<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lemonadeo"
        tools:targetApi="31">
        <activity
            android:name=".spellingTr"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".learnSeasons"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Log"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mathMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".learnDays"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".multiplication"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".game"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".forwardmanner"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".difficulty"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".backwardmanner"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".under"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".spellResult"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".spelling"
            android:exported="false" />
        <activity
            android:name=".similarPics"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".onThePillow"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LeftNRight"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InFrontOf"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GoodJob"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Directions"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".atTheBack"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ball"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MonthsLearning"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MathLearning"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ClockLearning"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Digital"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LearningMainMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GameMainMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Clock"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".clockMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Days"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Months"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".firstScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>